steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.7.0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.IAM_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, Push and Sign
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          IMAGE_URI=$REGISTRY/$ECR_REPO_VENDOR:$IMAGE_TAG
          
          docker build -t $IMAGE_URI .
          docker push $IMAGE_URI
          
          # THIS IS THE MISSING MAGIC
          cosign sign --yes $IMAGE_URI
          
          echo "::notice::Image Signed: $IMAGE_URI"